image: andrewberry/drupal_tests:0.4.0
services:
  - mariadb:10.3
  - selenium/standalone-chrome-debug:3.7.1-beryllium
variables:
  MYSQL_ALLOW_EMPTY_PASSWORD: "1"

before_script:
  - ln -sf ${CI_PROJECT_DIR} /var/www/html/modules/feeds_migrate

stages:
  - build
  - test

## Build the testing environment.
build:
  stage: build
  script:
    - cd /var/www/html
    - ./update-dependencies.sh feeds_migrate
  except:
    - master
  # Cache libraries in between jobs
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - vendor/

## Job to run tests.
test:tests:
  stage: test
  script:
    - cd /var/www/html
    - ./update-dependencies.sh feeds_migrate
    #- ./test.sh feeds_migrate
    #- ./test-functional.sh feeds_migrate
    #- ./test-functional-js.sh feeds_migrate
    - export selenium_remote_url="http://selenium__standalone-chrome:4444/wd/hub/"
    - apache2-foreground&
    - robo override:phpunit-config feeds_migrate
    - sudo -E -u www-data vendor/bin/phpunit -c core --group feeds_migrate --testsuite functional-javascript --debug --verbose --log-junit artifacts/phpunit/phpunit.xml
  artifacts:
    when: on_failure
    paths:
      - artifacts/phpunit

## Job to check coding standards.
test:code_sniffer:
  stage: test
  script:
    - cd /var/www/html
    - ./code-sniffer.sh feeds_migrate
  artifacts:
    paths:
      - artifacts/phpcs

## Job to check test coverage.
test:code_coverage:
  stage: test
  script:
    - cd /var/www/html
    - ./code-coverage-stats.sh feeds_migrate
  artifacts:
    paths:
      - artifacts/phpcs
      - artifacts/phpmd
      - artifacts/phpmetric
