image: andrewberry/drupal_tests:0.4.0
services:
  - mariadb:10.3
  - selenium/standalone-chrome-debug:3.7.1-beryllium
variables:
  MYSQL_ALLOW_EMPTY_PASSWORD: 1

stages:
  - build
  - test

# Cache libraries in between jobs
cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - vendor/

## Build the testing environment.
build:
  stage: build
  script:
    - ./update-dependencies.sh feeds_migrate
  artifacts:
    paths:
      - vendor
      - web
  except:
    - master

## Job to run Functional tests.
test:functional_tests:
  stage: test
  script:
    - cd /var/www/html
    - ./test-functional.sh feeds_migrate
  artifacts:
    paths:
      - artifacts/phpunit

## Job to run Functional tests.
test:functional_js_tests:
  stage: test
  script:
    - cd /var/www/html
    - ./test-functional-js.sh feeds_migrate
  artifacts:
    paths:
      - artifacts/phpunit

## Job to check coding standards.
test:code_sniffer:
  stage: test
  script:
    - cd /var/www/html
    - ./code-sniffer.sh feeds_migrate
  artifacts:
    paths:
      - artifacts/phpcs

## Job to check test coverage.
test:code_coverage:
  stage: test
  script:
    - cd /var/www/html
    - ./code-coverage-stats.sh feeds_migrate
  artifacts:
    paths:
      - artifacts
